<div class="col-lg-6" *ngIf="identity && identity.role=='ROLE_ADMIN'">
    <h1>{{titulo}}</h1>
    <div *ngIf="alertEditArtist">
        <div class="alert alert-info">
          <strong>{{alertEditArtist}}</strong>
        </div>
      </div>
    <form #formArtist="ngForm" (ngSubmit)="onSubmit()">
        <p>
            <label>Name</label>
            <input type="text" #name="ngModel" name="name" [(ngModel)]="artist.name" required class="form-control" />
            <span *ngIf="!name.valid && name.touched">
                Name is required
            </span>
        </p>

        <p>
            <label>Description</label>
            <textarea #description="ngModel" name="description" [(ngModel)]="artist.description" required class="form-control"></textarea>
            <span *ngIf="!description.valid && description.touched">
                Description is required
            </span>              
        </p>

        <div>
            <div class="artist_image_for_edit" *ngIf="artist.image && artist.image !='null'">
                <img src="{{url+'get-image-artist/'+artist.image}}"/>
            </div>

            <p>
                <label>Upload artist's image</label>
                <input type="file" placeholder="Upload image" (change)="fileChangeEvent($event)"/>
            </p>
        </div>

        <input type="submit" value="Edit Artist" [disabled]="!formArtist.form.valid" class="btn btn-success"/>
    </form>
</div>

<div class="col-lg-6" *ngIf="!identity || identity.role!='ROLE_ADMIN'">
    <h1>Error</h1>
    <p>Sorry, you don't have permission to this section</p>
</div>